sentence-transformers==2.2.2
transformers==4.57.1
huggingface-hub==0.36.0
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental